body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    margin-top: 56px; /* Rezerva pro navbar */
}
 
.navbar-brand {
    font-weight: bold;
}
 
.navbar .nav-link {
    color: white;
}
 
.navbar .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}
 
.container {
    margin-top: 50px;
}
 
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
 
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
 
.btn {
    width: 100%;
}